In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stat
from datetime import datetime
df = pd.read_csv('/Users/PatrickChen/Desktop/CSV FILES/billboard.csv')
df.dtypes
df.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are alot of null values there are no records past 66th week

In [2]:
# rename header for weeks
import re
for i in df.columns[7:]:
    result = re.sub('[^0-9]','', i) + " week"
    df.rename(columns={i: result}, inplace=True)

df.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,1 week,2 week,3 week,...,67 week,68 week,69 week,70 week,71 week,72 week,73 week,74 week,75 week,76 week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# creates peaked column
peaked = df[df.columns[7:]].min(axis=1)
df.insert(7,"peaked", peaked)

# creates weeks on billboard
weeks_on = df[df.columns[7:]].count(axis=1)
df.insert(7,"weeks_on", weeks_on)

# convert dates into datetime
date_entered = []
for entered in df["date.entered"]:
    date_conv = datetime.strptime(entered, '%Y-%m-%d')
    date_entered.append(date_conv)
df["date.entered"] = date_entered

date_peaked = []
for entered in df["date.peaked"]:
    date_conv = datetime.strptime(entered, '%Y-%m-%d')
    date_peaked.append(date_conv)
df["date.peaked"] = date_peaked

# adds numbers till date peaked
weeks_to_peak = df["date.peaked"]-df["date.entered"]
df.insert(7,"weeks_to_peak", weeks_to_peak)
df["weeks_to_peak"]=(df["weeks_to_peak"].astype('timedelta64[D]'))/7

# unpivots weeks
df = pd.melt(df, id_vars=list(df.columns[0:10]), value_vars=list(df.columns[10:]))

#drops NaN
df = df.dropna(axis=0, how= 'any')

# coverts to rank to rank_value (101-1)
rank_value=[]
for rank in df.value:
    new_rank = 101-rank
    rank_value.append(new_rank)
    
df.insert(8,"rank_value", rank_value)

# coverts to peaked to peaked_value (101-1)
peaked_value=[]
for peaked in df.peaked:
    new_peaked = 101-peaked
    peaked_value.append(new_peaked)
df.insert(10,"peaked_value", peaked_value)

In [4]:
df.head()
# visualizations done in Tableau

,year,artist.inverted,track,time,genre,date.entered,date.peaked,weeks_to_peak,rank_value,weeks_on,peaked_value,peaked,variable,value
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,8.0,23.0,29,100.0,1.0,1 week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,8.0,86.0,27,100.0,1.0,1 week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,14.0,30.0,34,100.0,1.0,1 week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,5.0,60.0,25,100.0,1.0,1 week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,10.0,44.0,22,100.0,1.0,1 week,57.0

The main purpose of this paper is to determine a genreâ€™s true success on the billboard chart. In order to do this, success must be defined and an ending statement must be backed up with data.

In [5]:
# Define success
# Critera for success
# Rank Value
# Weeks on Chart
# Averages
# Success Value